.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60vw;
    height: 60vh;

    .cardImage {
        width: 25%;
        height: 70%;
        // background-color: red;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .cardContent {
        width:60%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        color: white;
        text-align: left;
        // background-color: blue;

        .content {
            width: 100%;
            height: 80%;
            // background-color: orange;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .nameBox{
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            // background-color: yellow;
            .line{
                height: 5px;
                width: 35%;
                background-color: #FFA588;
            }
            .name{
                color: #FFA588;
                display: flex;
                flex-direction: row;
                font-size: 20px;
                margin-left: 10px;

            }
        }

    }
}