.footerWrapper {
    background-color: #292B2E;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: space-between;

    .createdBy {
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 500;

    }

    .socialMedia {
        height: 100%;
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        color: white;
        font-size: 25px;
        font-weight: bold;

        i {
            transition: 0.3s ease-in-out;

            &:hover {
                color: #FFA588;
            }
        }

    }
}