.mainWrapper{
    background-color: #202124;
    width: 100vw;
    min-height: 100vh;
    .section1{
        height: 90vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        
        // background-color: pink;
    }
}