.mainWrapper {
    background-color: #202124;
    width: 100vw;
    min-height: 100vh;
    .contactSection{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        justify-content: space-evenly;
        align-items: center;
        .contactTitle{
            color: #FFA588;
            font-family: "Poppins";
            font-size: 46px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: flex;
            flex-direction: column;
            align-items: center;
            .contactTitleText {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .contactTitleUnderline {
                height: 5px;
                width: 50%;
                background-color: #FFA588;
            }
        }
        .contactform{
            height: 75%;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .form{
                // background-color: #fff;
                height: 100%;
                width: 50%;
                // background-color: orange;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .formInput{
                    width: 90%;
                    height: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    .formButton{
                        width: 100%;
                        height: 50%;
                        background-color: #FFA588;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #202124;
                        transition: 0.3s ease-in-out;
                        font-family: "Poppins";
                        font-size: 15px;
                        font-weight: bolder;
                        &:hover{
                            background-color: #ffa68878;
                            color: #202124;
                        }
                    }
                    // background-color: blue;
                    .inputField{
                        padding-left: 20px;
                        width: 100%;
                        height: 50%;
                        background-color: #202124;
                        border: 2px solid #FFA588;
                        color: #FFA588;
                        font-family: "Poppins";
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        &::placeholder{
                            color: #FFA588;
                            opacity: 0.5;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }

            }
            .line{
                height: 80%;
                width: 3px;
                background-color: #FFA588;
            }
            .contactInfo{
                height: 90%;
                width: 30%;
                // background-color: red;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                .contactField{
                    width: 60%;
                    height: 20%;
                    // background-color: violet;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    .contactFieldTitle{
                        color: #FFA588;
                        font-family: "Poppins";
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                    .contactFieldContent{
                        color: #FFF;
                        font-family: "Poppins";
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        i{
                            transition: 0.3s ease-in-out;
                            &:hover{
                                color: #FFA588;
                            }
                        }
                    
                    }
                }
            }
        }
    }

    .clientsSection {
        height: 100vh;
        width: 100vw;
        // background-color: salmon;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .clientsTitle {
            color: #FFA588;
            font-family: "Poppins";
            font-size: 46px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: flex;
            flex-direction: column;
            align-items: center;

            .clientsTitleText {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .clientsTitleUnderline {
                height: 5px;
                width: 50%;
                background-color: #FFA588;
            }
        }

        .clientsContent {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100vw;
            // background-color: darkblue;
            .arrows{
                width: 20vw;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: peru;
            }

            .clientsCarouselWrapper {
                width: 60vw;
                // background-color: orange;
                overflow-x: hidden;
                display: flex;
                flex-direction: row;
                align-items: center;

                .clientsCarousel {
                    width: 180vw;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    // background-color: pink;
                    transition: 0.3s ease-in-out;
                }
            }
        }


    }

    .projectSection {
        height: 110vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .projectSectionTitle {
            color: #FFA588;
            font-family: "Poppins";
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: flex;
            flex-direction: column;
            align-items: center;

            .projectSectionTitleText {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .projectSectionTitleUnderline {
                height: 5px;
                width: 50%;
                background-color: #FFA588;
            }
        }

        .projectSectionHeaders {
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .projectSectionHeader {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .headerTitle {
                    // color: rgba(255, 255, 255, 0.442);
                    font-family: "Poppins";
                    font-size: 25px;
                }

                .headerUnderline {
                    height: 5px;
                    // width: 100%;
                    // background-color: #FFA588;
                    margin-top: 5px;
                    transition: 0.4s ease-in-out;
                }
            }

        }

        .projectSectionContents {
            height: 50%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            .projectSectionContent {
                width: 100%;
                height: 100%;
                place-items: center;
                grid-template-columns: auto auto auto;

                .projectSectionCollageImg {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    img {
                        max-width: 60%;
                        max-height: 95%;
                        object-fit: contain;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }


                }
            }
        }
    }

    .servicesSection {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .ServicesTitle {
            color: #FFA588;
            font-family: "Poppins";
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: flex;
            flex-direction: column;
            align-items: center;

            .ServicesTitleText {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .ServicesTitleUnderline {
                height: 5px;
                width: 50%;
                background-color: #FFA588;
            }
        }

        .ServicesCarouselWrapper {
            height: 80%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            overflow: hidden;


            .ServicesCarousel {
                // height: 100%;
                width: 100%;

                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                .serviceCardOuter {
                    width: 25%;

                }

            }
        }
    }

    .aboutMeSectionWrapper {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        .aboutMeSection {
            height: 90%;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        .aboutMeImg {
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                z-index: 5;

            }
        }

        .aboutMeText {
            width: 55%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;

            .aboutMeTitle {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #FFA588;
                font-family: "Poppins";
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .aboutMeText1 {

                width: 85%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #FFF;
                font-family: "Poppins";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .aboutMeText2 {

                width: 85%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #FFF;
                font-family: "Poppins";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .aboutMeText3 {
                width: 100%;

                .aboutMeText3Text {
                    width: 85%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: #FFF;
                    font-family: "Poppins";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }

                .aboutMeText3SocialMedia {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;

                    i {
                        font-size: 22px;
                        color: #FFA588;
                        margin-right: 4vw;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            // cursor: pointer;
                            color: rgba(255, 166, 136, 0.723);
                        }

                    }
                }
            }
        }

    }

    .section1 {
        height: 90vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        // background-color: pink;
        align-items: center;
        justify-content: center;

        .socialMedia {
            height: 100%;
            width: 20%;
            // background-color: orange;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .verticalLine {
                height: 40%;
                width: 100%;
                // background-color: fuchsia;
                display: flex;
                justify-content: center;
                align-items: center;

                .line {
                    height: 100%;
                    background-color: white;
                    width: 2px;
                }
            }

            .handles {
                height: 20%;
                width: 100%;
                // background-color: saddlebrown;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                div {
                    color: white;
                    transition: 0.3s ease-in-out;

                    i {
                        font-size: 20px;
                    }

                    &:hover {
                        // cursor: pointer;
                        color: rgba(255, 255, 255, 0.548);
                    }
                }
            }
        }

        .mainTitle {
            height: 100%;
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // border: 2px solid red;

            .mainTitleText {
                height: 100%;
                width: 50%;
                // border: 2px solid yellow;
                display: flex;
                flex-direction: column;
                padding-left: 2vh;
                align-items: flex-start;
                justify-content: center;

                .titleSec1 {
                    height: 10%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    color: #FFF;
                    font-family: "Poppins";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                .titleSec2 {
                    height: 10%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    color: #FFA588;
                    text-transform: uppercase;
                    font-family: "Poppins";
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                .titleSec3 {
                    color: rgba(255, 255, 255, 0.70);
                    font-family: 'Poppins';
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    height: 10%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                }

                .titleSec4 {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    height: 10%;
                    width: 100%;
                    font-family: "Poppins";

                    .titleSec4But {
                        width: 33%;
                        height: 75%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Poppins";
                        font-size: 16px;
                        margin-right: 15px;
                        border-radius: 5px;
                        font-weight: 600;
                        border: #FFA588 2px solid;
                        transition: 0.3s ease-in-out;

                        // &:hover {
                        // cursor: pointer;
                        // }


                    }

                }

            }

            .mainTitleImg {
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}